html, body{
    width: 100%;
    height: 100%;
}

#login {
    margin-top: 20%;
    margin-bottom: 5%;
}

#header-list {
    margin-top: 60px;
}

#box-list {
    margin-top: 2%;
    margin-bottom: 2%;
    float: left;
}

#btn-add {
    z-index: 10;
    position: absolute;
    margin: -50px 0px 0px 92%;
}

#grid-data_filter > label {
    width: 100%;
} 

#grid-data_filter > label > input {
    width: 30%;
}

#grid-data_wrapper {
    margin-top: 15px;
}

.error {
    color: #a51d1d;
}

#form {
    margin-top:5%;
    margin-bottom:2%;
    float:left;
}

.box-form {
    padding: 0px;
}

.form-group {
    padding-left: 4px;
    padding-right: 4px;
}

.btn-form {
    float:right;
}

.subtitle {
    border-bottom: #d2d2d2 1px solid;
    margin-bottom: 2%;
}

.bootstrap-select>.dropdown-toggle { 
    padding-bottom: 0px;
}

.bootstrap-select>.dropdown-toggle.bs-placeholder {
    padding-bottom: 0px;
}

.bootstrap-select .dropdown-toggle .filter-option {
    padding: 0px;
}

/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}